.background-banner {
    z-index: 1000;
    display: block;
    background-image: url(./Blizzard/Arquivos/banner-bg2.jpg);
    height: 736px;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    padding-left: 120px;
    padding-right: 120px;
}

nav .menu {
    list-style: none;
    margin: 0px;
    font-family: 'Poppins';
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 96px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 10px;
    font-family: 'poppins';
    font-size: 14px;
    color: white;
}

nav ul li:hover {
    transition: 0.3s;
    color: #00AEFF;
}

.logo {
    margin-top: 28px;
    height: 40px;
}

.menu-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: space-between;
}

.criar-logar a {
    margin: 20px;
    font-family: 'poppins';
    font-size: 14px;
    color: white;
}

.conta {
    background-color: transparent;
    align-self: center;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}

.logar {
    background-color: #00AEFF;
    color: white;
    font-size: 14px;
    font-family: 'Poppins';
    padding: 10px 20px;
    border-radius: 5px;;
}

.logar:hover {
    transition: 0.3s;
    background-color: #005176;
}

.conta:hover {
    transition: 0.3s;
    background-color: #00aeff84;
}

header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.278);
}

main {
    margin-top: -600px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.pqnos-icones-jogo {
    margin: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.pqnos-icones-jogo img {
    filter: grayscale();
}

.pqnos-icones-jogo a img:hover{
    filter: none;
}

.grid-column-2 {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    align-items: center;
}


.h1-banner {
    font-size: 64px;
    line-height: 70.53px;
    padding-right: 200px;
}
 .grid-column-2 p {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 30px;
    padding-right: 20px;
 }

 .grid-column-2 a {
    background-color: #00AEFF;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
 }

 .grid-column-2 a:hover {
    transition: 0.3s;
    background-color: #00aeff84;

 }

 .grid-column-3 {
    align-items: center;
    margin-left: 50px;
 }

 .grid-column-3 p {
    text-align: right;
 }
