  
  /* Fontes */
  @font-face {
      font-family: 'lilita';
      src: url(/fontes/LilitaOne-Regular.ttf);
  }

  @font-face {
      font-family: 'roboto';
      src: url(/fontes/Roboto-Medium.ttf);
      src: url(/fontes/Roboto-Light.ttf);
      src: url(/fontes/Roboto-Regular.ttf);
  }

  .font-1-xs {
    font: 400 0.75rem/1.35 "lilita", sans-serif;
  }
  
  .font-2-xs {
    font: 400 0.875rem/1.43 "roboto", sans-serif;
  }
  
  .font-1-s {
    font: 400 1rem/1.5 "lilita", sans-serif;
  }
  
  .font-2-s {
    font: 400 1rem/1.5 "roboto", sans-serif;
  }
  
  .font-1-m,
  .font-1-m-b {
    font: 400 1.125rem/1.35 "lilita", sans-serif;
  }
  
  .font-1-m-b {
    font-weight: 600;
  }
  
  .font-2-m {
    font: 500 1.125rem/1.35 "roboto", sans-serif;
  }
  .font-2-m {
    font: 400 1.125rem/1.35 "roboto", sans-serif;
  }
  
  .font-1-l {
    font: 400 1.5rem/1.5 "lilita", sans-serif;
  }
  
  .font-2-l,
  .font-2-l-b {
    font: 400 1.5rem/1.5 "roboto", sans-serif;
  }
  
  .font-2-l-b {
    font-weight: 500;
    letter-spacing: 0.015em;
    text-transform: uppercase;
  }
  
  .font-1-xl {
    font: 400 2rem/1.25 "lilita", sans-serif;
    letter-spacing: -0.035em;
  }
  
  .font-2-xl {
    font: 500 2rem/1.25 "roboto", sans-serif;
  }
  
  .font-1-xxl {
    font: 400 6rem/1.125 "lilita", sans-serif;
  }



  
  
  @media (max-width: 1200px) {
    .font-1-xxl {
      font-size: 3rem;
    }
    .font-2-l {
      font-size: 1.125rem;
    }
    .font-2-l-b {
      font-size: 1.125rem;
    }
  }
  
  @media (max-width: 800px) {
    .font-1-xxl {
      font-size: 2rem;
    }
    .font-1-xl,
    .font-2-xl {
      font-size: 1.5rem;
    }
  }