#footer {
    margin-bottom: 200px;
    padding: 0 20px;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(29, 6, 5, 0.15);
}

.footer-1 ul {
    display: flex ;
    gap: 15px;
}

.footer-1 ul li:hover {
    color: var(--p6);
    transition: .4s;
    transform: scale(1.04);
}

.footer-2 p {
    margin-top: 10px;
    text-align: center;
}

@media (max-width:650px) {
    .footer-1 {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    .footer-1 img{
        border-bottom: 1px solid rgba(29, 6, 5, 0.15);
        padding-bottom: 10px;
    }

    .footer-1 ul {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
    }

}

/* 
- Ajustar o hover do menu
- menuzinho hamburguin do caralho
- sombra no btn do atendimento
*/