/* ----Utilitarios--- */
@import '/css/utilitários/geral.css';
@import '/css/utilitários/cores.css';
@import '/css/utilitários/tipografia.css';



/* Header */
@import '/css/header/header.css';

/* Ofertas */
@import '/css/ofertas/ofertas.css';

/* Horários */
@import '/css/horarios/horarios.css';


/* Cardapio */
@import '/css/cardapio/cardapio.css';

/* Atendimento */
@import '/css/atendimento/atendimento.css';

/* Entregas */
@import '/css/entregas/entregas.css';

/* Localização */
@import '/css/localizacao/localizacao.css';

/* Footer */
@import '/css/footer/footer.css';
