@charset 'UTF-8';
@import 'herobanner.css';
@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.ttf');
}

body {
    background-color: rgb(86, 44, 44);
    margin: 0px;
    font-family: 'poppins';
    font-size: 14px;
    color: white;
}


