.cardapio-bg-esq{
    display: flex;
    flex: 1;
    background-image: url('/imagens/banner-menu.png');
    height: 500px;
    background-repeat: no-repeat;
    background-color: #3c1f02;
    background-size: 50% cover;
    box-sizing: border-box;
}

.cardapio-bg-dir{
    display: flex;
    flex: 1;
    height: 500px;
    background-repeat: repeat;
    background-color: #3c1f02;
    width: 100%;
    box-sizing: border-box;
}

.cardapio-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardapio-direito, .cardapio-esquerdo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
 /* Cardapio Direito */


.cardapio-direito {
    display: flex;
    padding-top: 40px ;
    margin-bottom: 40px;
    align-items: center;
}

.cardapio-direito ul {
    color: #FAE4D0 ;
    padding-bottom: 1.25rem;
}

.cardapio-direito ul li {
    margin-top: 16px;
}

.produto {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.produto h3 {
    text-transform: uppercase;
}

.cardapio-direito span {    
    max-width: 50ch;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.cardapio-direito ul li p {
    max-width: 50ch;
}


.produto h3::after{
    flex: 1;
    content: '';
    border-bottom: 1px dashed #FAE4D0;
}

/*  Cardapio Esquerda */

.cardapio-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 23.4375rem;
    padding-right: 1.25rem;
}

.cardapio-esquerdo h2 span{
    background-color: var(--p1);
    border-radius: .25rem;
    padding: .125rem .25rem;
}

.cardapio-esquerdo h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.cardapio-esquerdo p {
    padding-bottom: 20px;
}

.cardapio-esquerdo a {
    max-width: max-content;
    box-shadow: 3px 3px 10px #40210493;
}

.cardapio-esquerdo a:hover {
    background-color: #be0606; 
    transition: .3s;
}