/* * {
    border: 3px solid red;
} */

.cardapio-bg-esq{
    display: flex;
    flex: 1;
    background-image: url('/imagens/banner-menu.png');
    height: 500px;
    background-repeat: no-repeat;
    background-color: #3c1f02;
    background-size: 50% cover;
    box-sizing: border-box;
}

.cardapio-bg-dir{
    display: flex;
    flex: 1;
    height: 500px;
    background-repeat: repeat;
    background-color: #3c1f02;
    width: 100%;
    box-sizing: border-box;
}

.cardapio-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardapio-direito, .cardapio-esquerdo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
 /* Cardapio Direito */

.cardapio-direito {
    display: flex;
    padding-top: 40px ;
    padding: 1.25rem;
    margin-bottom: 40px;
    align-items: center;
}

.cardapio-direito h2 {
    text-transform: uppercase;
}

.cardapio-direito ul {
    color: #FAE4D0 ;
    padding-bottom: 1.25rem;
}

.cardapio-direito ul li {
    margin-top: 16px;
}

.produto {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.produto h3 {
    text-transform: uppercase;
}

.cardapio-direito span {    
    max-width: 50ch;
    display: flex;
}

.cardapio-direito ul li p {
    max-width: 50ch;
}

.produto::after{
    display: flex;
    flex: 1;
    content: '';
    border-bottom: 2px dashed #FAE4D0;
}

.produtoepreco {
    display: flex;
    flex: 1;
}

/*  Cardapio Esquerda */

.cardapio-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 23.4375rem;
    padding-right: 1.25rem;
}

.cardapio-esquerdo h2 span{
    background-color: var(--p1);
    border-radius: .25rem;
    padding: .125rem .25rem;
}

.cardapio-esquerdo h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.cardapio-esquerdo p {
    padding-bottom: 20px;
    font-size: 1rem;
}

.cardapio-esquerdo a {
    max-width: max-content;
    box-shadow: 3px 3px 10px #40210493;
}

.cardapio-esquerdo a:hover {
    background-color: #be0606; 
    transition: .3s;
}

@media (max-width:1100px) {
    .cardapio-bg-esq {
        object-fit: cover;
        background-position: 30% 50%;
    }

    .cardapio-esquerdo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 16rem;
        padding-right: 1.25rem;
    }

    .cardapio-esquerdo h2 span {
        display: flex;
        max-width: max-content;
    }

    .cardapio-direito h2 {
        font-size: 1.5rem;
    }

    .cardapio-direito ul li h3 {
        font-size: 1.25rem;
        letter-spacing: 0.05rem;
    }

    .cardapio-direito p {
        font-size: 0.875rem;
    }
}

 @media (max-width:900px) {

    .cardapio-esquerdo {
        padding-left: 12rem;
    }
    
    .cardapio-esquerdo h2 {
        font-size: 1.25rem;
    }

    .cardapio-esquerdo p {
        font-size: 0.85rem;
    }

    .cardapio-esquerdo a {
        font-size: 0.85rem;
    }

    .cardapio-direito h2 {
        font-size: 1.25rem;
    }

    .cardapio-direito ul li h3 {
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

} 
@media (max-width:800px) {

    .cardapio-bg-esq {
        height:250px;
        background-size: cover;
        background-position: 70% 50%;
    }

    .cardapio-bg-dir {
        height: 440px;
    }
    .cardapio-conteudo {
        grid-template-columns: 1fr;
    }

    .cardapio-esquerdo {
        padding-left: 18rem;
    }

    .cardapio-esquerdo p {
        padding-right: 3.125rem;
    }

    .cardapio-direito {
        padding: 0px;
    }
    
}

@media (max-width:550px) {
    .cardapio-esquerdo {
        padding-left: 13.5rem;
    }

    .cardapio-esquerdo h2 {
        font-size: 1rem;
    }

    .cardapio-esquerdo p {
        font-size: 0.75rem;
        padding-right: 2rem;
    }

    .cardapio-direito {
        padding: 0 20px;
    }
}

@media (max-width:400px) {
    .cardapio-esquerdo {
        padding-left: 9rem;
    }

    .cardapio-esquerdo p {
        font-size: 0.65rem;
        padding-right: 2rem;
    }

    .cardapio-direito {
        height: 500px;
    }

    .cardapio-direito h2 {
        padding-top: 40px;
    }

    .cardapio-direito ul {
        padding-bottom: 40px;
    }

    .cardapio-direito h3 {
        font-size: 0.875rem;
    }

    .cardapio-direito p {
        font-size: 0.7rem;
    }
    
}