
body {
    position: relative;
}

.banner-hero {
    box-sizing: border-box;
    width: 100%;
}
.banner-hero img {
    z-index: -1;
    position: absolute;
    height: 520px;
    object-fit: cover;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
}

.menu-blur {
    backdrop-filter: blur(5px);
}


.menu ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: var(--p5);
}

.menu ul li {
    text-transform: uppercase;
    padding: 20px 10px;
    flex-wrap: nowrap;
}

.menu-centro a {
    font-weight: 500;
}

.menu-centro li:hover {
    transition: .3s;
    transform: scale(1.04);
    font-weight: 700;
} 

.menu-esquerda {
    display: flex;
    align-items: center;
}

.menu-esquerda .whatsapp {
    position: absolute;
    top:11px;
    left: 16px;
}

.menu-esquerda .btn::before {
    content: '';
    width: 1px;
    height: 50px;
    background: var(--p3);
    position: absolute;
    left: -10px;
    top: -5px;
}

.menu-esquerda .btn {
    padding-left: 40px;
}

.menu-esquerda li a:nth-child(1) {
    position: relative;
}


.menu-esquerda ul li::after {
    content: 'teste';
    background: #8800ff;
    border-radius: 50%;
    height: 5px;
    position: absolute;
    top: 5px;
}


.texto-intro {
    padding-top: 60px;
    padding-left: 20px;
}

.texto-intro h1 {
    font-family: 'lilita';
    font-weight: 400;
    font-size: 4.5rem;
}

.texto-intro p {
    padding-bottom: 20px;

}

.texto-intro p span {
    background-color: var(--p1);
    padding: 2px 4px;
    border-radius: 4px;
}

.texto-intro a {
    box-shadow: 1px 1px 5px #40210493; 
}

.texto-intro a:hover {
    background-color: #be0606; 
    transition: .3s;
}

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--p3);
}

.hamburguer {
    display: none;
}


@media (max-width:950px) {
    .texto-intro h1 {
        font-size: 3.5rem;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        padding: 0px 5px;
    }

    .menu-esquerda li {
        display: none;
    }

    .hamburguer {
        display: block;
        z-index: 101;
        top: 0.3rem;
        right: 1rem;
        padding: 8px 12px;
        border: none;
        background: rgba(29, 6, 5, 0.15);
        color: var(--w);
        cursor: pointer;
        border-radius: 5px;
    }

    .closeIcon {
        display: none;
    }

    .menu-hamburguer{
        position: absolute;
        display: flex;
        flex-direction: column; 
        transform: translateY(-300%);
        transition: transform 0.2s;
        margin-top: 17rem;
        right: 20px;   
        z-index: 100;
        color: rgba(29, 6, 5, 0.9);
        list-style: none;
        padding-top: 4rem;
        border-radius: 5px;
    }

    .menu-hamburguer::before {
        content: '';
        position: absolute;
        background: rgba(233, 192, 189, 0.74);
        width: 120px;
        height: 140px;
        border-radius: 5px;
        top: -80px;
        left: -10px;
        z-index: -1;
    }

    button.hamburguer {
        position: relative;
    }

    .showMenu {
        transform: translateY(0);
    }

    .menuItem {
        display: flex;
        margin: -50px auto 0 auto;
    }

}

@media (max-width:650px) {
    .texto-intro h1 {
        font-size: 2.75rem;
    }

    .texto-intro p {
        font-size: 1rem;
    }
}


@media (max-width:500px) {
    .texto-intro {
        margin: 0 auto;
        justify-self: center;
        padding: 40px 20px;
    }

    .banner-hero img {
        display: block;
        width: 100%;
        height: 600px;
        object-fit: cover;
        z-index: -1;
    }

    .banner-hero {
        box-sizing: border-box;
        width: 100%;
    }
    
}

@media (max-width: 380px) {
    .texto-intro {
        padding: 10px 10px;
    }

    .texto-intro h2 {
        text-transform: 1.5rem;
        font-weight: 500;
    }

    .texto-intro h1 {
        font-size: 2rem;
    }

    .texto-intro p {
        font-size: 0.8rem;
        font-weight: 200;
    }
}


/* ___ Invasão do @rochacbruno
 from openai import ChatGPT
gpt = ChatGPT()
gpt.make_css(alinhar, deixar bonito).responsivo().animate()
 */

